{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Template">
    <title>Converso</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    {% django_htmx_script %}
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    {% if debug %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% endif %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="{% block class %}{% endblock %}">
	
    {% include 'includes/messages.html' %}

    {% include 'includes/header.html' %}

    {% include 'includes/notification.html' %}

    {% block layout %}
    {% endblock %}

    {% if user.is_authenticated %}
        <footer hx-ext="ws" ws-connect="/ws/online-status/"></footer>
    {% endif %}

    {% block javascript %}{% endblock %}

</body>
</html>
